<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <li>Team Name: <%=@name%></li>
    <li>Coach: <%=@coach%></li>
    <li>Point Guard: <%=@pg%></li>
    <li>Power Forward: <%=@pf%></li>
    <li>Shooting Guard: <%=@sg%></li>
    <li>Center: <%=@c%></li>


 </body>
</html>


